.badges {
  background-color: $color-primary;
  display: inline-block;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 2px 10px;
  box-shadow: 1px 1px 5px -6px $color-tertiary;
}
