/* VARIABLES */

body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.nav {
  height: 150px;
  width: 100%;
  background-color: rgb(53, 181, 181);
  display: flex;
  box-shadow: 0 9px 9px -6px rgb(36, 114, 114);
}
.nav__items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__btn {
  width: 60px;
  height: 60px;
  margin: 25px;
  background-color: #ffffff;
  border: none;
  color: rgb(53, 181, 181);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 1px 9px 9px -6px rgb(36, 114, 114);
}

.nav__btn:hover {
  background-color: #ffffff8a;
}

.nav__btn--hovered {
  background-color: #ffffff8a;
  color: rgb(53, 181, 181) !important;
}

.nav__btn:focus {
  outline: 0;
}

.nav__btn > svg {
  fill: rgb(36, 114, 114);
}

.nav__btn > svg:hover {
  fill: rgb(53, 181, 181);
}
